<!DOCTYPE html>
	<html>
			<head>
					<title>palo-alto</title>
					<meta charset="utf-8">
					<link rel=stylesheet href="./css/style.css" type="text/css">
					<link rel=stylesheet href="./css/fonts.css">
				</head>
	<body>

	<div class= "page_profile">

	<div class="header">
		<h1>Palo Alto</h1>
				<div class="topbar"><a href="home.html">HOME</a>
				<a href="profile.html">PROFILE</a>
				<img src="images/search.jpg">
				</div>
	</div>
		<div class="content">

		<section class="story">
		<article>
		<h2>No difference how many peaks you reach if there was no pleasure in the climb.</h2> <hr>
		<p>Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.<p>
		<br>
		<span class="more">READ MORE</span> <span class="tag">#Yosemite   #Peak   #Explorer</span>
		</article>
		</section>
		<div class="photo"><img src="images/hills.jpg"> </div>
		
		<section class="story">
		<article>
		<h2>You know, I'd rather argue with you, then laugh with anyone else.</h2> <hr>
		<P>Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae. </P>
		<p>Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.<p>
		<P>Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.</P>
		<br>
		<span class="more">READ MORE</span> <span class="tag">#Yosemite   #Peak   #Photo</span>
		</article>
		</section>

		</div>



<div class="footer">
<div class="nameoffooter">Palo Alto</div>

<div class="downbar"><a href="home.html">HOME</a>
				<a href="profile.html">PROFILE</a>
				<img src="images/search2.jpg">
				</div>
				<div class="copy">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by 
				<span class="team">PixelBuddha Team</span></div>
				
				

</div>
</div>
</body>
</html>