<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
	    <title>Palo Alto</title>
	    <meta name = "keywords" content="Palo Alto, Explore,Travel, Mountains" />
    	<meta name = "description" content="About traveling" />
    	<link rel = "shortcut icon" href="./images/favicon.ico" sizes="64x64"/>
	    <link rel="stylesheet" href="./style.css">
	</head>
	<body>
		{{> includes/header/header}}

		{{#> main-block}}
		{{/main-block}}

		{{> includes/footer/footer}}
	</body>
</html>