  @import '_variables';
  .header{
    
  &__container {
    padding-left: 225px;
	padding-top: 46px;
	width: 1175px;
	height:190px;
  }
        &_title {
		font-family: LatoBoldItalic;
		font-size: 42px;
		font-color:$primary-text_color;

		}
}
