body {  
	font-family: Lato BoldItalic, sans-serif;
  	font-size: 20px;
  	line-height: 40px;
	color: #fdfdfd;
	background: #f7f9fc;
}
h1{
	margin-left: 225px;
	padding-top: 95px;
	font-style: italic;
	width: 200px;
}
h2{
	margin-left: 90px;
	padding-top: 70px;
}
.i-do{
	float:right;
	display: inline-block;
	width:89px ;
	height: 32px;
	font-color:#ffffff;
	font-size:14px ;
	background-color: #5c6bc0;
}
.page_profile {
	width: 1400px;
	color: #000;
}
.up-bar{
	margin-right: 215px;
	margin-top: -55px ;
	float:right;
}
.down-bar {
	font-size: 16px;
	color: #fff;
	margin-top: 67px;
}
.text {
	box-shadow:  0 0 20px rgba(0,0,0,0.4);
	background: #ffffff;
	padding: 100px;
	margin-bottom: 45px;
}
.content{
	width: 945px;

}
.tags{
	color: #b2b2b2;
	float: right;
}


.read-more{
	color: #5c6bc0;
	font-size: 21px;
}

.copy-rights {
 	font-size: 14px;
 	margin-top: 70px;
 }
.team {
 	font-size: 14px;
 	color: #fff;

 }

