@import '_variables';

.lastname {
display: inline-block;
            width: 360px;
			height:85px;
/*border:5px solid red;*/	
/*margin: 30px 199px 0px 185px;*/
margin-top:25px;

margin-bottom: 10px;
	::-webkit-input-placeholder {color: #bcbdbf;}
	::-moz-placeholder          {color: #bcbdbf;}
	:-moz-placeholder         	{color: #bcbdbf;}
	:-ms-input-placeholder   	{color: #bcbdbf;}

		&__input {
			width: 320px;
            height: 48px;
			color: $primary-text_color;
			padding:5px 0px 5px 30px ;
			border: 0;
			font-family: $primary-font;
			font-size: 20px;

}

		&__input:focus {
			
			border:2px solid #7d89cd;
			outline: 0;
     		outline-offset: 0;
		}

		& label {
			
			color: #111111;
			font-size: 20px;
			
            margin-bottom:15px;

			
		}
}
