@import '_variables';

.section {
	display: inline-block;
	box-shadow: 0px 0px 15px #ebedf0;
	width: 900px;
	height:1019px;
	font-family: LatoBoldItalic;
	background: #ffffff;
	margin: 0px;
	padding-left: 98px;

	&__title {
		font-size: 40px;
		font-family: LatoBoldItalic;
		color: $primary-text_color;
	}

	&__line {
		width: 800px;
		height:2px;
		background-color: #eeeeee;
        margin-top:40px;
        margin-bottom:45px;
	}

	&__form {
		font-family: $primary-font;
		font-size: 20px;
		color: #111111;
		display: inline-block;
		width: 758px;
		height:810px;
	}
}
