@import '_variables';
.sex {
	/*margin: 0 199px 0 185px;
	color: $primary-text_color;
  display: inline-block;
  *display: inline;  inline-block ie7 fix 
  *zoom: 1;
  vertical-align: top;
  position: relative;*/
margin-top:-30px;
vertical-align: top;
/*border:5px solid red;*/	
margin-bottom:50px;
padding-top:0;
/*margin: 30px 50px 0px 185px;*/


    &__title {
     
      font-family: $primary-font;
      font-size: 20px;
      color: #000000;
    }

    & input {
      width: 15px;
      height: 15px;
      margin: 0;
      padding: 0;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -7px;
      cursor: pointer;
      z-index: 10;
      opacity: 0;
    }

    & label {
      line-height: 15px;
      display: block;
      padding-left: 20px;
      position: relative;
      z-index: 1;
      cursor: pointer;   
      margin-bottom: 20px; 
      font-family: #ffffff;
      font-size: 20px;
      color: #333333;
    }

    & label:before {
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      width: 15px;
      height: 15px;
      margin-top: -7px;
      background: rgba(0, 0, 0, 0) url(../images/unchecked.jpg) no-repeat;
      z-index: 5;
      content: '';
    }

    & input:checked + label:before {
        background-position: 0 -14px;
        background: rgba(0, 0, 0, 0) url(../images/checked.jpg) no-repeat;
    }
}
