<footer class="footer">
 				
					<div class="footer__logo">
					<img src="../images/logo-footer.png" alt="Logo">
					</div>
					<nav class="footer__nav">
						<ul>
							<li class="nav-item"><a href="index.html" class="nav__link_footer">Home</a></li>
							<li class="nav-item"><a href="profile.html" class="nav__link_footer">Profile</a></li>
							<li class="nav-item"><a href="index.html"><div class="search-footer"></div>	
						</a>						
					</li>	
						</ul>
					</nav>
			
				<p class="footer__text">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <a href="#" class="footer__developers">PixelBuddha Team</a></p>
				</div> 
                <div class="social-networks">
                    <a class="social-networks__icon social-networks__icon_facebook"></a>
                    <a class="social-networks__icon social-networks__icon_twitter"></a>
                    <a class="social-networks__icon social-networks__icon_instagram"></a>
                    <a class="social-networks__icon social-networks__icon_pinterest"></a>
                </div>
            </div>
		</footer>